body {
    background-color: black;
    display: flex;
    gap: 5px;
    font-family: Fredoka,Arial;
}

.sb {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: black;
    border: solid white;
    cursor: pointer;
}
.tb {
    border-radius: 10px;
    border: solid;
    background-color: black;
    color: white;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}